<%- include('../partials/header.ejs', {cs: 'homepage'})%>
    
<h1>Book Search</h1>
<p>This is search page
</p>
<div>
    <%if(results && results.length > 0) {%>
        <%results.forEach(book=>{%>
            <ul>
                <li><a href="/books/<%=book.id%>"><%=book.title%> by <%=book.author.firstName + ' ' + book.author.lastName%></a></li>
            </ul>
        <%});%>
    <%}else if(searched){%>
        <p>No results found.</p>
    <%}%>
</div>


<%- include('../partials/footer.ejs')%>