<%- include('../partials/header.ejs')%>
  
<div>
   <h4><%= book.title%></h4>
   <small>Posted <%=book.createdAt%> by <%=book.author%></small>
   <div><%=book.content%></div>
   <form>
      <button type="submit" formmethod="GET" formaction="/books/<%= book.id%>/edit">Edit</button>
      <button type="submit" formmethod="POST" formaction="/books/<%= book.id%>?_method=DELETE">Delete</button>
   </form>
</div>

<%- include('../partials/footer.ejs')%>