<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

<div class="container p-3 ">
    <h1>Domicile List</h1>
    <br>
    <%if(domiciles.length){ %>
        <%domiciles.forEach(domicile=>{%>
          
                <!--cards-->
                <a class="cardStyle" href="/domiciles/<%=domicile.id%>">
                    <div class="card mb-3 bg-light">
                        <div class="row ">
                        <!--image section-->
                        <div class="col-md-4 bg-primary">

                        </div>
                        <!--domicile information-->
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title"><%= domicile.title %></h3>
                                <p class="card-text"><%= domicile.address %></p>
                                <p class="card-text"><%= domicile.description %></p>
                                <p class="card-text">Bed(s): <%= domicile.bed %> | Bath(s): <%= domicile.bath%></p>
                                <p class="card-text">$<%= domicile.payment %></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </a> 
        <% }); %>


        
        <%} else {%>
        <h2>There are no domiciles to display</h2>
    <%} %>
</div>

<%- include('../partials/footer.ejs')%>