<%- include('../partials/header.ejs', {cs: 'homepage' })%>

    <h2 class="text-center mt-5">Edit Domicile Post</h2>

    <div class="container my-5">

        <form action="/domiciles/<%= domicile.id%>?_method=PUT" enctype="multipart/form-data" method='POST'>
            <!--horizontal center by using bootstrap's grid alignment for rows-->
            <div class="row justify-content-center">
                <!--Title Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="title" class="form-label fw-bold">Title:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark bg-light border-0" type="text" id="title" name="title"
                            placeholder="Ex: Dorm Near Campus" value="<%= domicile.title %>" required>
                    </div>
                </div>

                <!--Address Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="address" class="form-label fw-bold">Address:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark bg-light border-0" type="text" id="address" name="address"
                            placeholder="Ex: 9551 University Terrace Dr, Charlotte, NC 28262" value="<%= domicile.address %>" required>
                    </div>
                </div>


                <!--Description Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="description" class="form-label fw-bold">Description:</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control inputBox text-dark bg-light border-0" id="description" name="description"
                            placeholder="Ex: Apartment is on the top floor and right next to Terrace road."
                            required><%= domicile.description %></textarea>
                    </div>
                </div>


                <!--Type Section-->
                <!--This may need to be chanced-->
                <!--Select menu option-->
                <!--Menu option 1: Type-->
                <div class="row mb-4 w-75 text-break">

                    <div class="col-lg-2 col-form-label">
                        <label for="type" class="form-label fw-bold">Household Type:</label>
                    </div>

                    <div class="col-lg-2">
                        <span id="typeListValue" hidden><%= domicile.type%></span>
                        <select id="typeList" class="form-select" name="type" aria-label="--Select--" required>
                            <option value="">--Select--</option>
                            <option value="dorm">Dorm</option>
                            <option value="apartment">Apartment</option>
                            <option value="townhouse">Townhouse</option>
                        </select>
                    </div>
                    <!--Select menu option-->
                    <!--Menu option 2: Bed-->
                    <div class="col-lg-2 col-form-label">
                        <label for="bed" class="form-label fw-bold">Bed(s):</label>
                    </div>

                    <div class="col-lg-2">
                        <span id="bedListValue" hidden><%= domicile.bed%></span>
                        <select id="bedList" class="form-select" name="bed" aria-label="--Select--" required>
                            <option value="">--Select--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <!--Select menu option-->
                    <!--Menu option 3: Bath-->
                    <div class="col-lg-2 col-form-label">
                        <label for="bath" class="form-label fw-bold">Bath(s):</label>
                    </div>

                    <div class="col-lg-2">
                        <span id="bathListValue" hidden><%= domicile.bath%></span>
                        <select id="bathList" class="form-select" name="bath" aria-label="--Select--"  required>
                            <option value="">--Select--</option>
                            <option value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                            <option value="2">2.5</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>


                <!--Payment Section !!!!!!!!!-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="payment" class="form-label fw-bold">Payment:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark bg-light border-0" type="text" id="payment" name="payment"
                            placeholder="Ex: 1000 monthly" value="<%= domicile.payment %>" required>

                    </div>

                </div>

                <!--Phone Plan Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="phone" class="form-label fw-bold">Phone:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark bg-light border-0" type="text" id="phone" name="phone"
                            placeholder="Optional" value="<%= domicile.phone %>">
                    </div>

                </div>

                <!--Email Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="email" class="form-label fw-bold">Email:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark bg-light border-0" type="text" id="email" name="email"
                            placeholder="Optional" value="<%= domicile.email %>" >
                    </div>

                </div>

                <!--Image Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="image" class="form-label fw-bold">Image:</label>
                    </div>
                    <div class="col-md-10">
                        <!--currently accepts any type of image, but this could change-->
                        <input class="form-control" type="file" id="image" name="image" accept="image/*" value="<%= domicile.image %>" multiple>
                    </div>
                </div>

                <!-- Button trigger modal for save message -->
                <div class="text-center">

            <!--Cancel form-->
            <button class="btn btn-danger btn-lg text-end m-1" type="submit" formmethod="GET"
                        formaction="/domiciles/<%= domicile.id %>">Cancel</button>
            <!--Submit new changes-->
            <button type="button" class="btn btn-success btn-lg text-end m-1" data-bs-toggle="modal"
                        data-bs-target="#SaveMessage">
                        Submit
            </button>
                </div>
            </div>

            <!-- Modal for save message -->
            <div class="modal fade" id="SaveMessage" tabindex="-1" aria-labelledby="SaveMessageLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="SaveMessageLabel">
                                <%= domicile.title %>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Cancel"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to save?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/javascript/domicileEdit.js"></script>

    <%- include('../partials/footer.ejs')%>