<%- include('../partials/header.ejs', {cs: 'searchStyle'})%>

<div class="container p-3">
    <!--think about adding the search string at the top to show what was searched???-->
    <h1>Search Results for "<%=d%>"</h1>
    <br>
    <div>
        <%if(results && results.length > 0) {%>

            <%results.forEach(domicile=>{%>

                <div class="cardStyle">

                    <a href="/domiciles/<%=domicile.id%>">
                        <div class="card mb-3 bg-light">
                            <div class="row ">
                            <!--image section-->
                            <div class="col-lg-4 text-center d-flex justify-content-center">
                                <!--if there is at least one image in image array, the one at index[0]-->
                                <!--will be displayed-->
                                <% if(domicile.image.length > 0){%>
                                    <img class="img-fluid thumbnailImg" src="data:<%=domicile.image[0].contentType%>;base64,
                                    <%=domicile.image[0].data.toString('base64')%>"> 
                                <!--if there is no image provided, default no image is provided-->
                                <%} else { %>
                                <img class="img-fluid" src="/images/other/noImageAvailable.png"> 
                                <%} %>
                            </div>
                            <!--domicile information-->
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h3 class="card-title"><%= domicile.title %></h3>
                                    <p class="card-text"><%= domicile.address %></p>
                                    <p class="card-text"><%= domicile.description %></p>
                                    <p class="card-text">Bed(s): <%= domicile.bed %> | Bath(s): <%= domicile.bath%></p>
                                    <p class="card-text">$<%= domicile.payment %></p>
                                    
                                    <% if(domicile.phone && !domicile.email ) {%>
                                        <!--if post includes phone number but not email-->
                                        <p class="card-text"><b>Contact Me:</b> <%= domicile.phone %> </p>
                                    <% } %>
                                    
                                    <% if(!domicile.phone && domicile.email ) {%>
                                        <!--if post includes email but not phone-->
                                        <p class="card-text"><b>Contact Me:</b> <%= domicile.email %></p>
                                    <% } %>
                                    <% if(domicile.phone && domicile.email ) {%>
                                        <!--if post includes both email and phone-->
                                        <p class="card-text"><b>Contact Me:</b> <%= domicile.phone %> | <%= domicile.email %></p>
                                    <% } %>
                                </div>
                            </div>
                            </div>
                        </div>
                    </a> 

                </div>

            <%});%>
  
        <%}else if(searched){%>
            <p>No results found.</p>
        <%}%>
    </div>
</div>

<%- include('../partials/footer.ejs')%>