<%- include('../partials/header.ejs', {cs: 'homepage'})%>


    <div class="container p-3">
        <h1>Cart List</h1>
        <br>
        <%if(items.length){ %>

            <table class="table">
                <tr>
                    <th scope="col">Book Title</th>
                </tr>

            <tbody>
            <%items.forEach(item=>{%>
                <%if(item.category === "book"){ %>
                <tr>
                    <td><img src="data:image/<%=item_bookId.img.contentType%>;base64,
                        <%=item_bookId.img.data.toString('base64')%>"></td>
                    <td><a href="/books/<%=item_bookId.id%>"><p><%= item_bookId.title %></p></a></td>
                </tr>
                <% } %>
                <% if(item.category === "tech"){ %>
                    <tr>
                        <td><img src="<%= item.techId.image%>"></td>
                        <td><a href="/techs/<%=item_techId.id%>"><p><%= item_techId.title %></p></a></td>
                    </tr>
                <% } %>
        
            <% }) %>

            </tbody>
            </table>
            
        <%} else {%>
            <h2>There are no items to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>