<%- include('../partials/header.ejs', {cs: 'cartStyle'})%>

    <!--this comment is a test for gitIgnore-->

    <div class="container p-3">
        <h1>Cart List</h1>
        <br>
        <!--if cart contains at least 1 book or at least 1 tech item, then populate table-->
        <%if(books.length || techs.length){ %>

            <table class="table">
                <!--different headers for the cart-->
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Price</th>
                    <!-- <th scope="col"><%= books.length %></th> -->
                </tr>
                


            <tbody>

            <!--fill table with book items in the cart-->
            <%books.forEach(book=>{%>
                
                <tr class="selectRow">
                    <!--remove/delete button-->
                    <td>
                        <form>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeBookFromCart">
                                <i class="fa fa-trash"></i>
                            </button>


                            <!--confirmation modal-->
                            <div class="modal fade" id="removeBookFromCart" tabindex="-1" 
                            aria-hidden="true" aria-labelledby="removeBookFromCartLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!--header of the modal-->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="remove message label"><%=book.bookId.title%></h5>
                                        </div>
                                        <!--body content of the modal-->
                                        <div class="modal-body">
                                            Are you sure you want to remove this item from your cart?
                                        </div>
                                        <!--footer of the modal-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary" formmethod="POST" formaction="/cart/delete/<%= book._id%>?_method=DELETE">
                                                Yes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </td>
                    <!--image section-->
                    <td><img src=""></td>
                    <!--book title-->
                    <td><a class="productName" href="/books/<%=book.bookId.id%>"><p><%= book.bookId.title %></p></a></td>
                    <!--display the category-->
                    <td><p><%= book.category%></p></td>
                    <!--book price-->
                    <td><p>$<%= book.bookId.price%></p></td>
                        
                </tr>
        
            <% }) %>

            <!--fill table with tech items in the cart-->
            <%techs.forEach(tech=>{%>
                
                <tr class="selectRow">
                    <!--delete button-->
                    <td>
                        <form>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeTechFromCart"><i class="fa fa-trash"></i></button>



                            <!--confirmation modal-->
                            <div class="modal fade" id="removeTechFromCart" tabindex="-1" 
                            aria-hidden="true" aria-labelledby="removeTechFromCartLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!--header of the modal-->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="remove message label"><%=tech.techId.brand%></h5>
                                        </div>
                                        <!--body content of the modal-->
                                        <div class="modal-body">
                                            Are you sure you want to remove this item from your cart?
                                        </div>
                                        <!--footer of the modal-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary" formmethod="POST" formaction="/cart/delete/<%=tech.id%>?_method=DELETE">
                                                Yes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </td>
                    <!--where image should go-->
                    <td><img src=""></td>
                    <!-- <td><a href="/techs/<%=tech.techId.id%>"><p><%= tech.techId.title %></p></a></td> -->
                    <td><a class="productName" href="/techs/<%=tech.techId.id%>"><p><%= tech.techId.brand %></p></a></td>
                    <!--display the category-->
                    <td><p><%= tech.category%></p></td>
                    <!--price of tech item-->
                    <td><p>$<%= tech.techId.price%></p></td>
                </tr>
        
            <% }) %>

            </tbody>
            </table>
            
        <%}%>
        <!--if the cart is empty-->
        <%if(empty){%>
            <h2>There are no items to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>