<%- include('../partials/header.ejs', {cs: 'homepage'})%>


    <div class="container p-3">
        <h1>Cart List</h1>
        <br>
        <%if(books.length){ %>

            <table class="table">
                <tr>
                    <th scope="col">Book Title</th>
                </tr>

            <tbody>
            <%books.forEach(book=>{%>
                
                <tr>
                    <td><img src="<%= book.bookId.image%>"></td>
                    <td><a href="/books/<%=book.bookId.id%>"><p><%= book.bookId.title %></p></a></td>
                </tr>
        
            <% }) %>

            </tbody>
            </table>
            
        <%}%>
        <%if(techs.length){ %>

            <table class="table">
                <tr>
                    <th scope="col">Tech Title</th>
                </tr>

            <tbody>
            <%techs.forEach(tech=>{%>
                
                <tr>
                    <td><img src="<%= tech.techId.image%>"></td>
                    <td><a href="/techs/<%=tech.techId.id%>"><p><%= tech.techId.title %></p></a></td>
                </tr>
        
            <% }) %>

            </tbody>
            </table>
            
        <%} %>
        <%if(empty){%>
            <h2>There are no items to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>