<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3">
        <h1>Book List</h1>
        <br>
        <%if(books.length){ %>

            <div class="row">
                <div class="col-md-3 border">
                    <div class="container">

                    </div>

                </div>

                <div class="col-md-9">


                    <table class="table border">
                        <tr>
                            <th scope="col">Book Title</th>
                            <th scope="col">Book Author</th>
                            <th scope="col">Price</th>
                        </tr>
        
                    <tbody>
                    <%books.forEach(book=>{%>
                        <tr class="select listItem">
                            <td class="">
                                <a  href="/books/<%=book.id%>"><p><%= book.title %></p></a>
                            </td>
                            <td>
                                <p><%= book.author %></p>
                            </td>
                            <td>
                                <p>$<%= book.price %></p>
                            </td>
                        </tr>
                    <% }); %>
        
                    </tbody>
                    </table>

                </div>

            </div>
            

            
            
        <%} else {%>
            <h2>There are no books to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>