<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3">
        <h1>Book List</h1>
        <br>
        <%if(books.length){ %>

            <div class="row">
                <div class="col-md-3">
                    <form action="/books" method="get">
                        <div class="container border text-break sticky-top p-3">
                            <div class="row">
                                <div class="col">
                                    <h1>Filters</h1>
                                </div>
                                <div class="col">
                                    <input class="btn btn-success my-2" type="submit" value="Clear Filter">
                                </div>
                            </div>
                            
                           

                            <!--accordion to minimize the filtering options-->

                            <div class="accordion" id="filterAccordion">
                                <!--accordion item #1: price filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#priceFilter"
                                        aria-expanded="false"
                                        aria-controls="priceFilter"
                                        >
                                            Price
                                        </button>

                                    </h3>
                                    <div
                                        id="priceFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                    
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="1-20" id="priceOption1"
                                                    <% if (filterBooks && filterBooks.includes('1-20')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption1">
                                                        $1 - $20
                                                    </label>
                                                </div>
                                                

                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="20-50" id="priceOption2"
                                                    <% if (filterBooks && filterBooks.includes('20-50')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption2">
                                                        $20 - $50
                                                    </label>
                                                </div> 

                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="50-100" id="priceOption3"
                                                    <% if (filterBooks && filterBooks.includes('50-100')) {%>
                                                    checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption3">
                                                        $50 - $100
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="100+" id="priceOption4"
                                                    <%if (filterBooks && filterBooks.includes('100+')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption4">
                                                        > $100
                                                    </label>
                                                </div>

                                                <!-- <input class="btn btn-success my-2" type="submit" value="Submit"> -->

                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <!--future accordion items-->

                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#subjectFilter"
                                        aria-expanded="false"
                                        aria-controls="subjectFilter"
                                        >
                                            Subject
                                        </button>

                                    </h3>
                                    <div
                                        id="subjectFilter"
                                        class="accordion-collapse collapse"
                                        
                                    >
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="accounting" id="subjectOption1"
                                                    <%if (filterBooks && filterBooks.includes('accounting')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption1">
                                                        Accounting
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="computer-science" id="subjectOption2"
                                                    <%if (filterBooks && filterBooks.includes('computer-science')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption2">
                                                        Computer Science
                                                    </label>
                                                </div> 

                                                <div class="form-check">
                                                    <input class="form-check-input" name="filterBooks" type="radio" value="marketing" id="subjectOption3"
                                                    <%if (filterBooks && filterBooks.includes('marketing')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption3">
                                                        Marketing
                                                    </label>
                                                </div>

                                            </div>
                                            
                                    </div>
                                  
                                </div>
                                <input class="btn btn-success my-2" type="submit" value="Submit">
                            </div>
                            <input class="btn btn-success my-2" type="submit" value="Submit">
                        </div>
                    </form>

                </div>

                <div class="col-md-9">


                    <table class="table border text-break">
                        <tr>
                            <th scope="col">Book Title</th>
                            <th scope="col">Book Author</th>
                            <th scope="col">Price</th>
                        </tr>
        
                    <tbody>
                    <%if(results.length > 0){%>
                        <%results.forEach(result=>{%>
                            <tr class="select listItem">
                                <td class="">
                                    <a  href="/books/<%=result.id%>"><p><%= result.title %></p></a>
                                </td>
                                <td>
                                    <p><%= result.author %></p>
                                </td>
                                <td>
                                    <p>$<%= result.price %></p>
                                </td>
                            </tr>
                        <%})%>
                    <%}else{%>
                        <%books.forEach(book=>{%>
                            <tr class="select listItem">
                                <td class="">
                                    <a  href="/books/<%=book.id%>"><p><%= book.title %></p></a>
                                </td>
                                <td>
                                    <p><%= book.author %></p>
                                </td>
                                <td>
                                    <p>$<%= book.price %></p>
                                </td>
                            </tr>
                        <% }); %>
                    <%}%>
        
                    </tbody>
                    </table>

                </div>

            </div>
        <%} else {%>
            <h2>There are no books to display</h2>
        <%} %>
    </div>
    <script src="/javascript/filterSelector.js"></script>
<%- include('../partials/footer.ejs')%>