<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3 w-100">
        <h1>Book List</h1>
        <br>
        <%if(books.length){ %>

            <div class="row">
                <div class="col-lg-3">
                    <form action="/books" method="get">
                        <div class="container border text-break sticky-top p-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>Filters</h1>
                                </div>
                                <div class="col-lg-6 text-end">
                                    <a class="btn btn-secondary my-2" href='/books'>Clear Filters</a>
                                </div>
                            </div>

                            <!--accordion to minimize the filtering options-->

                            <div class="accordion" id="filterAccordion">
                                <!--accordion item #1: price filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#priceFilter"
                                        aria-expanded="false"
                                        aria-controls="priceFilter"
                                        >
                                            <strong>Price</strong>
                                        </button>

                                    </h3>
                                    <div
                                        id="priceFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                    
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                
                                                    <input class="form-check-input" name="price" type="radio" value="1-20" id="priceOption1"
                                                    <% if (filterByPrice && filterByPrice.includes('1-20')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption1">
                                                        $1 - $20
                                                    </label>
                                                </div>
                                                

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="20-50" id="priceOption2"
                                                    <% if (filterByPrice && filterByPrice.includes('20-50')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption2">
                                                        $20 - $50
                                                    </label>
                                                </div> 

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="50-100" id="priceOption3"
                                                    <% if (filterByPrice && filterByPrice.includes('50-100')) {%>
                                                    checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption3">
                                                        $50 - $100
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="100+" id="priceOption4"
                                                    <%if (filterByPrice && filterByPrice.includes('100+')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption4">
                                                        > $100
                                                    </label>
                                                </div>

                                                <!-- <input class="btn btn-success my-2" type="submit" value="Submit"> -->

                                            </div>
                                        </form>
                                    </div>

                                </div>
                            

                                <!--future accordion items-->

                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#subjectFilter"
                                        aria-expanded="false"
                                        aria-controls="subjectFilter"
                                        >
                                            <strong>Subject</strong> 
                                        </button>

                                    </h3>
                                    <div
                                        id="subjectFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="accounting" id="subjectOption1"
                                                    <%if (filterBySubject && filterBySubject.includes('accounting')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption1">
                                                        Accounting
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="computer-science" id="subjectOption2"
                                                    <%if (filterBySubject && filterBySubject.includes('computer-science')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption2">
                                                        Computer Science
                                                    </label>
                                                </div>  

                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="marketing" id="subjectOption3"
                                                    <%if (filterBySubject && filterBySubject.includes('marketing')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption3">
                                                        Marketing
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="biology" id="subjectOption4"
                                                    <%if (filterBySubject && filterBySubject.includes('biology')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption4">
                                                        Biology
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="english" id="subjectOption5"
                                                    <%if (filterBySubject && filterBySubject.includes('english')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption5">
                                                        English
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="health-psychology" id="subjectOption6"
                                                    <%if (filterBySubject && filterBySubject.includes('health-psychology')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption6">
                                                        Health Psychology
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="music" id="subjectOption7"
                                                    <%if (filterBySubject && filterBySubject.includes('music')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption7">
                                                        Music
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="philosophy" id="subjectOption8"
                                                    <%if (filterBySubject && filterBySubject.includes('philosophy')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption8">
                                                        Philosophy
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="subject" type="radio" value="sociology" id="subjectOption9"
                                                    <%if (filterBySubject && filterBySubject.includes('sociology')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="subjectOption9">
                                                        Sociology
                                                    </label>
                                                </div>

                                            </div>
                                            
                                    </div>
                                  
                                </div>
                            </div>
                            <input class="btn btn-success my-2" type="submit" value="Submit">
                        </div>
                    </form>

                </div>

                <div class="col-lg-9">


                    <table class="table border text-break">
                        <tr>
                            <th scope="col">Book Title</th>
                            <th scope="col">Book Author</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Price</th>
                        </tr>
        
                    <tbody>
                    <%if(filterByPrice || filterBySubject) {%>
                        <%if(results && results.length > 0){%>
                            <h3><%=results.length%> posts are currently available</h3>
                            <%results.forEach(result=>{%>
                                <tr class="select listItem">
                                    <td class="col-lg-4">
                                        <a  href="/books/<%=result.id%>"><p><%= result.title %></p></a>
                                    </td>
                                    <td>
                                        <p><%= result.author %></p>
                                    </td>
                                    <td>
                                        <p><%= result.subject %></p>
                                    </td>
                                    <td>
                                        <p>$<%= result.price %></p>
                                    </td>
                                </tr>
                            <%})%>
                        <%}else{%>
                            <h2>No results found</h2>
                            <td>
                                <img src="/images/other/sadface.png" alt="">
                            </td>
                            <td>
                                <img src="/images/other/sadface.png" alt="">
                            </td>
                            <td>
                                <img src="/images/other/sadface.png" alt="">
                            </td>
                        <%}%>
                    <%}else{%>
                        <%books.forEach(book=>{%>
                            <tr class="select listItem">
                                <td class="col-lg-4">
                                    <a  href="/books/<%=book.id%>"><p><%= book.title %></p></a>
                                </td>
                                <td>
                                    <p><%= book.author %></p>
                                </td>
                                <td>
                                    <p><%= book.subject %></p>
                                </td>
                                <td>
                                    <p>$<%= book.price %></p>
                                </td>
                            </tr>
                        <% }); %>
                    <%}%>
        
                    </tbody>
                    </table>

                </div>

            </div>
        <%} else {%>
            <h2>There are no books to display</h2>
        <%} %>
    </div>
    <script src="/javascript/filterSelector.js"></script>
<%- include('../partials/footer.ejs')%>