<%- include('../partials/header.ejs', {cs: 'defaultstyle' })%>

    <!-- Primary Table for All Elements -->
    <div class="container flex-row w-50 text-center">
        <h3 class="fs-1 py-5 mb-5">My Profile</h3>
        <table>
            <tr>
                <td><img class="img-fluid border border-secondary border-3" width="400" height="400"
                        src="/images/other/profiledefault.png" alt="Default image for profile"></td>
                <td class="align-top ps-4">
                    <!-- Secondary Table for Account Information -->
                    <table class="table">
                        <%if(profile) {%>
                        <tr>
                            <th>First Name:</th>
                            <td><%= profile.firstName%></td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td><%= profile.lastName%></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><%= profile.email%></td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td><%= profile.phoneNum%></td>
                        </tr>
                        <tr>
                            <th>About Me: <%- profile.biograph%></th>
                            <td>You have not told us anything yet!</td>
                        </tr>
                        <tr>
                            <th>Number of posts:</th>
                            <td><%- postNum%> posts</td>
                        </tr>
                        <%}%>
                    </table>
                </td>
            </tr>
            <tr>
                <%if(user.id == profile._id){%>
                <form>
                    <td class="pt-4"><!-- Buttons to Change Account Details -->
                        <button class="btn btn-secondary btn-lg text-end m-1" type="submit" formmethod="GET" formaction="/users/<%= profile.id %>/edit">Update</button>
                        <!-- <button class="btn btn-danger btn-lg text-end m-1" type="submit">Delete</button> -->
                    </td>
                </form>
                <%}%>
            </tr>
        </table>
    </div>



    <%- include('../partials/footer.ejs')%>