<%- include('../partials/header.ejs', {cs: 'payment'})%>
<body>
<div class="paymentBody">

    <div class="row gx-4">
        
        <div class="col-md-9">

            <div class="container p-0">
                <div class="px-4">
                    <p class="h8 py-3">Payment Details</p>
        
                </div>
                
                <div class="card px-4">
                    <div class="row gx-3">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label form-control mb-3 border" for="flexRadioDefault1">
                                      Debit/Credit Card
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Name</p>
                                <input class="form-control mb-3 border" type="text" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Card Number</p>
                                <input class="form-control mb-3 border" type="text" placeholder="1234 5678 435678" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">Expiration Date</p>
                                <input class="form-control mb-3 border" type="text" placeholder="MM/YYYY" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <p class="text mb-1">CVV/CVC</p>
                                <input class="form-control mb-3 pt-2 border" type="password" placeholder="***" required maxlength="3">
                            </div>
                        </div>
                        
                    </div>
            
                </div>
                <div class="column5">
                    <form>
                        <a class="btn btn-primary mb-3 cancel" href="javascript:history.back()">
                            <a href="/cart/transaction"><span class="ps-3">Cancel</span></a>
                            <a><span class="fas fa-arrow-right"></span></a>
                        </a>
                        <div class="btn btn-primary mb-3 pay">
                            <a href="/cart/transaction"><span class="ps-3">Pay $<%=totalCost%></span></a>
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </form>
                    
                    
                </div>
                    
                
            
                
                    
            </div>

        </div>
        
            <div class="col-md-3">

                <!--product list-->
                <table class="table border overflow-auto">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach (book => {%>
                            <tr>
                                <td><%=book.bookId.title%></td>
                                <td>$<%=book.bookId.price%></td>
                            </tr>
                        <% }) %>

                        <% techs.forEach (tech => {%>
                            <tr>
                                <td><%=tech.techId.brand%></td>
                                <td>$<%=tech.techId.price%></td>
                            </tr>
                        <% }) %>

                    </tbody>
                </table>

                <!--summary box-->
                <div class="card sticky-top mb-2">
                    <div class="card-header py-3">
                        <h5>Summary</h5>
                    </div>
        
                
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products:
                                <!--this is calculate the number of items currently in the cart-->
                                <span><%=books.length + techs.length%></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount:</strong>
                                    <strong>
                                    <p class="mb-0">(including Taxes)</p>
                                    </strong>
                                </div>
                                    <span><strong>$<%=totalCost%></strong></span>
    
        
                            
                            </li>
                        </ul>
        
                    </div>
            
        
                </div>

            </div>
            
        
    
    </div>

</div>
    
    
</body>
<%- include('../partials/footer.ejs')%>