<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3">
        <h1>Tech List</h1>
        <br>
        <%if(techs.length){ %>

            <div class="row">
                <!--filter section of page-->
                <div class="col-lg-3">
                    <form action="/techs" method="get">
                        <div class="container border text-break sticky-top p-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>Filters</h1>
                                </div>
                                <div class="col-lg-6 text-end">
                                    <a class="btn btn-secondary my-2" href='/techs'>Clear Filters</a>
                                </div>
                            </div>
                            
                            <!--accordion to minimize the filtering options-->

                            <div class="accordion" id="filterAccordion">
                                <!--accordion item #1: price filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#priceFilter"
                                        aria-expanded="false"
                                        aria-controls="priceFilter"
                                        >
                                            <strong>Price</strong>
                                        </button>

                                    </h3>
                                    <div
                                        id="priceFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="1-100" id="priceOption1"
                                                    <% if (filterByPrice && filterByPrice.includes('1-100')) {%>
                                                        checked
                                                    <%}%> >
                                                    <label class="form-check-label" for="priceOption1">
                                                        $1 - $100
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="100-300" id="priceOption2"
                                                    <% if (filterByPrice && filterByPrice.includes('100-300')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption2">
                                                        $100 - $300
                                                    </label>
                                                </div> 

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="300-600" id="priceOption3"
                                                    <% if (filterByPrice && filterByPrice.includes('300-600')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption3">
                                                        $300 - $600
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="600+" id="priceOption4"
                                                    <% if (filterByPrice && filterByPrice.includes('600+')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption4">
                                                        > $600
                                                    </label>
                                                </div>

                                                

                                            </div>
                                    </div>

                                </div>

                                <!--accordion item #2: brand filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#deviceFilter"
                                        aria-expanded="false"
                                        aria-controls="deviceFilter"
                                        >
                                            <strong>Device</strong>
                                        </button>

                                    </h3>
                                    <div
                                        id="deviceFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="laptop" id="deviceOptions1"
                                            <% if (filterByDevice && filterByDevice.includes('laptop')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions1">
                                                Laptop
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="smartphone" id="deviceOptions2"
                                            <% if (filterByDevice && filterByDevice.includes('smartphone')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions2">
                                                Smartphone
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="tablet" id="deviceOptions3"
                                            <% if (filterByDevice && filterByDevice.includes('tablet')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions3">
                                                Tablet
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="headphone" id="deviceOptions3"
                                            <% if (filterByDevice && filterByDevice.includes('headphone')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions3">
                                                Headphone
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="speaker" id="deviceOptions4"
                                            <% if (filterByDevice && filterByDevice.includes('speaker')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions4">
                                                Speaker
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="device" type="radio" value="printer" id="deviceOptions5"
                                            <% if (filterByDevice && filterByDevice.includes('printer')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="deviceOptions5">
                                                Printer
                                            </label>
                                        </div>


                                    </div>

                                    </div>

                                </div>

                                <!--future accordion items go below-->

                            </div>

                            <input class="btn btn-success my-2" type="submit" value="Submit">

                        </div>
                    </form>

                </div>

                <!--tech list section of page-->
                <div class="col-lg-9">
                    <table class="table border tableScroll">
                        <tr>
                            <th scope="col">Tech Name/Brand</th>
                            <th scope="col">Device</th>
                            <th scope="col">Price</th>
        
                        </tr>
        
                    <tbody>
                        <%if(filterByPrice || filterByDevice) {%>
                            <%if(results.length > 0){%>
                                <h3><%=results.length%> posts are currently available</h3>
                                <%results.forEach(result=>{%>
                                    <tr class="select listItem">
                                        <td class="">
                                            <a  href="/techs/<%=result.id%>"><p><%= result.brand %></p></a>
                                        </td>
                                        <td>
                                            <p class="text-capitalize"><%= result.device %></p>
                                        </td>
                                        <td>
                                            <p>$<%= result.price %></p>
                                        </td>
                                    </tr>
                                <%})%>
                            <%}else{%>
                                <h2>No results found</h2>
                                <td>
                                    <img src="/images/other/sadface.png" alt="">
                                </td>
                                <td>
                                    <img src="/images/other/sadface.png" alt="">
                                </td>
                                <td>
                                    <img src="/images/other/sadface.png" alt="">
                                </td>
                            <%}%>
                        <%}else{%>
                            <%techs.forEach(tech=>{%>
                                <tr class="select listItem">
                                    <td class="">
                                        <a  href="/techs/<%=tech.id%>"><p><%= tech.brand %></p></a>
                                    </td>
                                    <td>
                                        <p class="text-capitalize"><%= tech.device %></p>
                                    </td>
                                    <td>
                                        <p>$<%= tech.price %></p>
                                    </td>
                                </tr>
                            <% }); %>
                        <%}%>
        
                    </tbody>
                    </table>

                </div>

            </div>


            
            <%} else {%>
            <h2>There are no products to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>