<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3">
        <h1>Tech List</h1>
        <br>
        <%if(techs.length){ %>

            <div class="row">
                <!--filter section of page-->
                <div class="col-md-3">
                    <form action="/techs" method="get">
                        <div class="container border text-break sticky-top p-3">

                            <h1>Filters</h1>
                            <a class="btn btn-secondary my-2" href='/techs'>Clear Filters</a>

                            <!--accordion to minimize the filtering options-->

                            <div class="accordion" id="filterAccordion">
                                <!--accordion item #1: price filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button 
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#priceFilter"
                                        aria-expanded="false"
                                        aria-controls="priceFilter"
                                        >
                                        Price
                                        </button>

                                    </h3>
                                    <div
                                        id="priceFilter"
                                        class="accordion-collapse collapse show"
                                        
                                    >
                                            <div class="accordion-body">
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="1-100" id="priceOption1"
                                                    <% if (filterTechs && filterTechs.includes('1-100')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption1">
                                                        $1 - $100
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="100-300" id="priceOption2"
                                                    <% if (filterTechs && filterTechs.includes('100-300')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption2">
                                                        $100 - $300
                                                    </label>
                                                </div> 

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="300-600" id="priceOption3"
                                                    <% if (filterTechs && filterTechs.includes('300-600')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption3">
                                                        $300 - $600
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" name="price" type="radio" value="600+" id="priceOption4"
                                                    <% if (filterTechs && filterTechs.includes('600+')) {%>
                                                        checked
                                                    <%}%>>
                                                    <label class="form-check-label" for="priceOption4">
                                                        > $600
                                                    </label>
                                                </div>

                                                

                                            </div>
                                    </div>

                                </div>

                                <!--accordion item #2: brand filter options-->
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#brandFilter"
                                        aria-expanded="false"
                                        aria-controls="brandFilter"
                                        >
                                        Brand
                                        </button>

                                    </h3>
                                    <div
                                        id="brandFilter"
                                        class="accordion-collapse collapse"
                                        
                                    >
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" name="brand" type="radio" value="samsung" id="brandOption1"
                                            <% if (filterTechs && filterTechs.includes('samsung')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="brandOption1">
                                                Samsung
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" name="brand" type="radio" value="apple" id="brandOption2"
                                            <% if (filterTechs && filterTechs.includes('apple')) {%>
                                                checked
                                            <%}%>>
                                            <label class="form-check-label" for="brandOption2">
                                                Apple
                                            </label>
                                        </div>


                                    </div>

                                    </div>

                                </div>

                                <!--future accordion items go below-->

                            </div>

                            <input class="btn btn-success my-2" type="submit" value="Submit">

                        </div>
                    </form>

                </div>

                <!--tech list section of page-->
                <div class="col-md-9">
                    <table class="table border text-break">
                        <tr>
                            <th scope="col">Tech Name/Brand</th>
                            <th scope="col">Price</th>
        
                        </tr>
        
                    <tbody>
                        <%if(results.length > 0){%>
                            <%results.forEach(result=>{%>
                                <tr class="select listItem">
                                    <td class="">
                                        <a  href="/techs/<%=result.id%>"><p><%= result.brand %></p></a>
                                    </td>
                                    <td>
                                        <p>$<%= result.price %></p>
                                    </td>
                                </tr>
                            <%})%>
                        <%}else{%>
                            <%techs.forEach(tech=>{%>
                                <tr class="select listItem">
                                    <td class="">
                                        <a  href="/techs/<%=tech.id%>"><p><%= tech.brand %></p></a>
                                    </td>
                                    <td>
                                        <p>$<%= tech.price %></p>
                                    </td>
                                </tr>
                            <% }); %>
                        <%}%>
        
                    </tbody>
                    </table>

                </div>

            </div>


            
            <%} else {%>
            <h2>There are no products to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>